


<h3>Booking <%= @stay.id %></h3>


  <br>Start Date : <%= @stay.start_date %>
  <br>End Date : <%= @stay.end_date %>
  <br>Tenant email : <%= @stay.tenant.email %>
  <br>Studio's name : <%= @stay.studio.name %>


<h3> Invoicing per month</h3>

  <% @stay_range.each do |day| %>

    <li> <%= day.to_a[0].strftime("%B %y") %> --

      <%= day.to_a.size * @stay.studio.price / 31 %> $ --

      <%= (day.to_a[0] <= Date.today.beginning_of_month) ? "Paid" : "Unpaid" %>

    </li>
  <% end %>




<%=  link_to "back", stays_path %>
